## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Albany,US,42.6001,-73.9662,66.63,46,0,12.28,clear sky
1,Mar Del Plata,AR,-38.0023,-57.5575,65.88,60,100,11.99,light rain
2,Menongue,AO,-14.6585,17.6910,64.09,87,100,0.96,overcast clouds
3,Maragogi,BR,-9.0122,-35.2225,81.72,73,69,7.36,broken clouds
4,Hilo,US,19.7297,-155.0900,80.28,89,100,8.01,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,Maragogi,BR,-9.0122,-35.2225,81.72,73,69,7.36,broken clouds
4,Hilo,US,19.7297,-155.0900,80.28,89,100,8.01,light rain
6,Faanui,PF,-16.4833,-151.7500,82.15,72,8,15.66,clear sky
8,Kununurra,AU,-15.7667,128.7333,73.38,100,100,4.61,light rain
10,Thinadhoo,MV,0.5333,72.9333,84.09,68,17,11.77,few clouds
14,Saint-Leu,RE,-21.1500,55.2833,76.32,78,12,10.00,few clouds
15,Rikitea,PF,-23.1203,-134.9692,78.96,69,7,17.09,clear sky
16,Kahului,US,20.8947,-156.4700,77.85,83,5,3.00,clear sky
17,Ixtapa,MX,20.7000,-105.2000,79.83,69,40,11.50,scattered clouds
24,Morros,BR,-9.4467,-46.3003,85.37,54,39,5.97,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   303
Country                301
Lat                    303
Lng                    303
Max Temp               303
Humidity               303
Cloudiness             303
Wind Speed             303
Current Description    303
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City                   301
Country                301
Lat                    301
Lng                    301
Max Temp               301
Humidity               301
Cloudiness             301
Wind Speed             301
Current Description    301
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Maragogi,BR,81.72,broken clouds,-9.0122,-35.2225,
4,Hilo,US,80.28,light rain,19.7297,-155.0900,
6,Faanui,PF,82.15,clear sky,-16.4833,-151.7500,
8,Kununurra,AU,73.38,light rain,-15.7667,128.7333,
10,Thinadhoo,MV,84.09,few clouds,0.5333,72.9333,
14,Saint-Leu,RE,76.32,few clouds,-21.1500,55.2833,
15,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,
16,Kahului,US,77.85,clear sky,20.8947,-156.4700,
17,Ixtapa,MX,79.83,scattered clouds,20.7000,-105.2000,
24,Morros,BR,85.37,scattered clouds,-9.4467,-46.3003,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
    
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df.loc[hotel_df['Hotel Name'] == ''].index)
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Maragogi,BR,81.72,broken clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
4,Hilo,US,80.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Faanui,PF,82.15,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
8,Kununurra,AU,73.38,light rain,-15.7667,128.7333,Hotel Kununurra
14,Saint-Leu,RE,76.32,few clouds,-21.1500,55.2833,La Caz Oceane
15,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,People ThankYou
16,Kahului,US,77.85,clear sky,20.8947,-156.4700,Maui Seaside Hotel
17,Ixtapa,MX,79.83,scattered clouds,20.7000,-105.2000,hotel la terminal
25,Bengkulu,ID,76.48,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
31,Carnarvon,AU,71.13,clear sky,-24.8667,113.6333,Hospitality Carnarvon

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [1]:
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

NameError: name 'gmaps' is not defined